{% extends 'base.html' %}
{% block content %}
<!-- nav -->
{% include 'nav/topbar.html' %}
<!-- nav -->
<!-- head -->
{% include 'head.html' %}
<!-- head -->

<!-- galary -->
{% include 'galary.html' %}
<!-- galary -->

<!-- member counts -->
{% include 'count.html' %}
<!-- members counts -->
<!-- services -->
<!-- {% include 'services.html' %} -->
<!-- services -->
<!-- contact -->
{% include 'contact.html' %}
<!-- contact -->
<!-- footer -->
{% include 'nav/footer.html' %}
<!-- footer -->
{% endblock %}